.page404 {
    font-family: "Monda", sans-serif;
    &__container {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    &__numbers {
        color: #3f4144;
        font-size: 23vw;
        font-weight: bold;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            font-family: "Montserrat", sans-serif;
            font-weight: normal;
            text-align: center;
            bottom: 26%;
            margin-left: 2%;
            width: 91%;
            letter-spacing: 0.5vw;
            position: absolute;
            background-color: #fff;
            line-height: 2.4vw;
            font-size: 2.1vw;
            content: "UH - OH NOTHING FOUND";
        }
    }
    & form {
        z-index: 100;
        display: flex;
        & input[type="submit"] {
            background-color: #3f4144;
            cursor: pointer;
            font-size: 0.8vw;
            color: #fff;
            padding: 15px 40px;
            text-transform: uppercase;
            border: none;
        }
        & input[type="text"] {
            padding: 15px;
            width: 30vw;
            background-color: #fff;
            outline: none;
            border: none;
            font-size: 0.8vw;
            color: #3f4144;
        }
    }
    h3 {
        margin: 20px;
        color: #3f4144;
        font-size: 2vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    }
    p {
        color: #686969;
        padding-bottom: 20px;
    }
    &__link {
        color: #686969;
        &:hover {
            text-decoration: underline;
        }
    }
}
