//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
//font-family: 'Monda', sans-serif;
//styles

@import "banner";
@import "page404";
@import "reset";
@import "main";
@import "footer";
@import "srollToTop";
@import "adaptive";

.container {
    width: 90%;
    margin: 0 auto;
    user-select: none;
    max-width: 1600px;
}
body {
    font-family: "Montserrat", sans-serif;
}
html {
    background-color: rgb(230, 230, 230);
}